/* CSS 작성 */

.main-rogo{
  position: absolute;
  width: 176px;
  height: 40px;
  top: 100px;
  left: 321px; 
 }

.container{
  box-sizing: content-box;
  padding-top: 196px;
  padding-left: 321px;
  width: 1036px;
  height: 1010px;
}

section{
  display: flex;
  align-items: center;
  height: 28px;
  margin-bottom: 24px;
}

section .title{
  font-size: 24px;
  font-weight: 500;
  font-style: normal;
  line-height: 27.6px;
  color: var(--color-text0);
}

section p{
  font-size:16px;
  font-weight: 500;
  line-height: 18.4px;
  color: var(--color-text1);
}

section span{
  display: inline-block;
  margin: 0 10px;
  color: var(--color-text1);
}




.object-area .obj{
  display:inline-block;
  position:relative;
  box-sizing: border-box;
  float: left;
  height: 310px;
  border: 1px solid var(--color-border0);
  margin-bottom: 16px;
  margin-right: 16px;
}

.object-area .big {
  width: 502px;
}
.object-area .small {
  width: 243px;
}

.object-area .big-img{
  padding: 20px 27px 20px;
}
.object-area .small-img{
  padding: 14px 20.5px 14px;
}

.object-area .link{
  position: absolute;
  left: 20px;
  bottom: 20px;
  width: 50px;
  height: 42px;
  background-color: var(--color-bkg0);
}
.object-area .link .txt{
  display: inline-block;
  margin: 12px 0 0 20px;
  font-size: 14px;
  font-weight: 500;
  color: var(--color-text2);
  white-space:nowrap;
  opacity: 0;
}
.object-area .link:after{
  content:"";
  position: absolute;
  left: 18px;
  top: 16px;
  width: 6px;
  height: 6px;
  transform: rotate(-45deg);
  border-right: 1px solid var(--color-text2);
  border-bottom: 1px solid var(--color-text2);
}


.object-area .link:hover,
.object-area .link:focus{
  position: absolute;
  left: 20px;
  bottom: 20px;
  width: 112px;
  height: 42px;
  background-color: var(--color-border1);
  transition:1s;
}
.object-area .link:hover .txt,
.object-area .link:focus .txt{
  transition:1.8s;
  opacity: 1;
}
.object-area .link:hover:after,
.object-area .link:focus:after{
  left: 88px;
  transition:1s;
}